*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    position: relative;
    padding:0 5%;
    display:flex;
    width:100%;
    height:80px;
}
nav{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    padding:20px 8%;
    display:flex;
    justify-content: space-between;
    background: rgb(173, 103, 132);
    height:80px;
    margin-bottom: 100px;
}
nav .img-logo{
    width:100px;
}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-left: 80px;
    margin-top: 20px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.headeri{
    width:100%;
    height: 60px;
}
.headeri h1{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    height: 10px;
    color:rgb(0, 143, 143);
    text-align: center;
}
.container{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

}
.my-col{
    display: inline-block;
    padding-left: 50px;
}
.my-col img{
    width:400px;
    height:300px;
}
.my-col img:hover{
    filter: blur(2px);
}
.header1{
    font-size:30px;
    text-align:center;
    font-weight: 700;
    font-style: italic;    
}
.my-col h1:hover{
    color:transparent;
    -webkit-text-stroke: 1px rgb(54, 88, 26);
}
